.contact{
    padding: 100px 200px;
}

textarea, input{
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    font-size: 13px;
    background: transparent;
    color: #495057;
}

textarea:focus,
input:focus{
    outline: 0;
    box-shadow: none;
}

.half-row{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.contact__firstname{
    padding-right: 20px;
}

.contact__email{
    padding-left: 20px;
}

.contact__send{
    margin-top: 30px;
}