/* core styles */

body{
    margin: 0px;
    font-family: sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase{
    text-transform: uppercase;
}

.clearfix{
    clear: both;
}

.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.section-title{
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
    margin-top: 5px;
}

.blur-line{
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}

/* Header section */

.main-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}
.main-header__brand img{
    width: 50px;
}

.main-header__brand{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item{
    display: inline-block;
}

.main-navigation__item a{
    color: #05364d;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.main-navigation__item a:hover{
    color: #efb5df;
}

.main-navigation__item.active a{
    color: #efb5df;
}