/* Main section */

.main-banner{
    background-image: url("../images/белый-фрактальный-фон-или-текстурный-компьютер-создали-иллюстрацию-233408097.webp");
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-section{
    padding: 100px 30px;
}

.main-section > div{
    width: 50%;
    float: left;
}

.main-section__image{
    text-align: right;
}

.main-section__image img{
    width: 400px;
}

.main-section__welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2;
    color: #797979;
}

.main-section__introduction{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364e;
}

.main-section__position{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #05364e;
}

.main-section__action{
    margin-top: 30px;
}

.button{
    border: none;
    background: linear-gradient(to right, blue 0%, red 51%, blue 100%);
    background-size: 200% auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-position: right center;
}

.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 20px;
    display: inline-block;
    margin-right: 30x;
    cursor: pointer;
}

.main-section__social-networks a:hover i{
    color: #1c44e4;
}

/*Statistics*/

.statistics{
    padding-top: 100px;
}

.statistics__item{
    display: inline-block;
    background-color: #f8faff;
    text-align: center;
    padding: 5px 10px;
    margin-right: 50px;
    width: 150px;
}

.statistics__number{
    font-size: 27px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, blue 0%, rgb(192, 92, 109) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.statistics__title{
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/*About me*/

.about-me{
    padding: 100px 0;
}

.about-me div{
    width: 50%;
    float: left;
}

.about-me__image img{
    width: 70%;
}

.about-me__description{
    font-size: 14px;
    font-weight: 300;
    color: #797979;line-height: 27px;
}

/*Services section*/

.services{
    padding-top: 100px;
}

.service-card{
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card__title{
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__description{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}

.service-card__link{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}

.service-card img{
    width: 200px;
}

.service-card:hover{
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__link,
.service-card:hover .service-card__description{
    color: #ffffff;
}

/*Clients section*/

.clients{
    padding-top: 100px;
}

.client-item > div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img{
    width: 100%;
}

.client-item__info{
    padding-top: 50px;
    padding-left: 50px;
}

.client-item__name{
    font-size: 20px;
    margin-bottom: 4px;
}

.client-item__position{
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate{
    color: yellowgreen;
}

.client-item__rate .disabled{
    color:#828f96;
}

/*Portfolio section*/

.portfolio{
    padding: 100px 0;
    height: 1450px;
}

.portfolio-filters{
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
}

.portfolio-filters li{
    display: inline-block;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active{
    color: #1245e6;
}
.portfolio-items{
    margin-top: 50px;
    position: relative;
}

.portfolio-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding-bottom: 10px;
}

.portfolio-item-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.portfolio-item-3{
    position: absolute;
    top: 735px;
    left: 0;
    width: 50%;
}
.portfolio-item img{
    width: 98%;
    height: 98%;
}
.portfolio-item__owerlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
}

.portfolio-item__info a{
    color: white;
    text-decoration: none;
    z-index: 1;
}

.portfolio-item:hover .portfolio-item__owerlay{
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 24px;
}

/*Blog*/

.blog{
    padding-top: 100px;
}

.blog-items{
    margin-top: 50px;
}

.blog-item{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__info{
    background-color: white;
}

.blog-item__image img{
    width: 100%;
}

.blog-item__info{
    background-color: f8faff;
    padding: 10px;
    color: #797979;
}

.blog-item__main-info span{
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}

.blog-item__info i{
    margin-right: 5px;
    padding: 30px;
}

.blog-item__title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #05364d;
    font-weight: 700;
}

.blog-item__description{
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item__learn-more{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
}

.blog-item__learn-more:hover{
    color: #ed239f;
    cursor: pointer;
}

/*Partners section*/

.partners{
    padding-top: 100px;
}

.partner{
    display: inline-block;
    padding: 0 30px;
}