/* core styles */

body{
    font-family: sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase{
    text-transform: uppercase;
}

.clearfix{
    clear: both;
}

.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.section-title{
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
    margin-top: 5px;
}

.blur-line{
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}

/* Header section */

.main-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}
.main-header__brand img{
    width: 50px;
}

.main-header__brand{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item{
    display: inline-block;
}

.main-navigation__item a{
    color: #05364d;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.main-navigation__item a:hover{
    color: #efb5df;
}

.main-navigation__item.active a{
    color: #efb5df;
}

/* Main section */
.main-section{
    padding: 100px 30px;
}

.main-section > div{
    width: 50%;
    float: left;
}

.main-section__image{
    text-align: right;
}

.main-section__image img{
    width: 400px;
}

.main-section__welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2;
    color: #797979;
}

.main-section__introduction{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364e;
}

.main-section__position{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #05364e;
}

.main-section__action{
    margin-top: 30px;
}

.button{
    border: none;
    background-color: #1c44e4;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
}

.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 20px;
    display: inline-block;
    margin-right: 30x;
    cursor: pointer;
}

.main-section__social-networks a:hover i{
    color: #1c44e4;
}

/*Statistics*/

.statistics{
    padding-top: 100px;
}

.statistics__item{
    display: inline-block;
    background-color: #f8faff;
    text-align: center;
    padding: 5px 10px;
    margin-right: 50px;
    width: 150px;
}

.statistics__number{
    font-size: 27px;
    margin-bottom: 5px;
    color: #1c44e4;
}

.statistics__title{
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/*About me*/

.about-me{
    padding: 100px 0;
}

.about-me div{
    width: 50%;
    float: left;
}

.about-me__image img{
    width: 70%;
}

.about-me__description{
    font-size: 14px;
    font-weight: 300;
    color: #797979;line-height: 27px;
}

/*Services section*/

.services{
    padding-top: 100px;
}

.service-card{
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card__title{
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__description{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}

.service-card__link{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}

.service-card img{
    width: 200px;
}

.service-card:hover{
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__link,
.service-card:hover .service-card__description{
    color: #ffffff;
}

/*Clients section*/

.clients{
    padding-top: 100px;
}

.client-item > div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img{
    width: 100%;
}

.client-item__info{
    padding-top: 50px;
    padding-left: 50px;
}

.client-item__name{
    font-size: 20px;
    margin-bottom: 4px;
}

.client-item__position{
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate{
    color: yellowgreen;
}

.client-item__rate .disabled{
    color:#828f96;
}

/*Portfolio section*/

.portfolio{
    padding: 100px 0;
}

.portfolio-items{
    margin-top: 50px;
    position: relative;
}

.portfolio-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
}

.portfolio-item-2{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}

.portfolio-item-3{
    position: absolute;
    top: 466px;
    right: 0;
    padding-right: 10px;
}
.portfolio-item_image{
    width: 100%;
}
.portfolio-item__owerlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
}

.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
}

.portfolio-item__info a{
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__owerlay{
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 24px;
}