body {
  font-family: sans-serif;
  width: 1140px;
  margin: 0 auto;
}

.container {
  display: flex;
}

/*menu*/

.navbar {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.logo {
  display: inline-block;
  position: relative;
  top: 20px;

}

.logo img {
  width: 50px;
}

.logo a {
  display: inline-block;
  text-decoration: none;
}

.menu {
  display: inline-block;
  vertical-align: middle;
}

.menu_elements {
  display: inline-block;
}

.menu_element {
  display: inline-block;
  background: blanchedalmond;
  color: green
}

.image img {
  display: inline-block;
  width: 50px;
}


.menu_elements a {
  color: rgb(172, 87, 172);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.menu_elements a:hover {
  color:green
}

.home img {
  width: 300px;
  text-align: center;
}


/* about me */

.about_me {
  padding: 100px 30px;
}

.about_me img {
  width: 200px;
}

.personal_skill {
  display: inline-block;
  width: 250px;
  height: 180px;
  text-align: center;
  background-color: blueviolet;
  margin-bottom: 5px;
}

.about_table {
  border-style: size;
  border-width: 1px
}

.rows_1 {
  color: green
  
}

.rows_2 {
  color: blue
}

.serviced_clients {
  display: inline-block;
}

.coins {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin-bottom:5px;
  margin-top: 5px;
  margin-right: 25px;
}

.coin {
  display: inline-block;
  width: 50px;
  text-align: center;
  color: rgb(141, 55, 49);
  text-align: center;
}

.button_cv {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* skills*/

.graph_skill {
  display: inline-block;
}

.graph_skills {
  display: inline-block;
}

.graph_skill_elements {
  display: block;
}