/* Main section */

.main-banner{
    background-image: url("../images/белый-фрактальный-фон-или-текстурный-компьютер-создали-иллюстрацию-233408097.webp");
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-section{
    padding: 7.5rem 1.87rem;
    display: flex;
    justify-content: space-between;
}

.main-section__image{
    text-align: right;
}

.main-section__image img{
    width: 400px;
}

.main-section__welcome{
    font-size: 1rem; 
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2;
    color: #797979;
}

.main-section__introduction{
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #05364e;
}

.main-section__position{
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #05364e;
}

.main-section__action{
    margin-top: 1.87rem;
}

.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1.87rem;
    cursor: pointer;
}

.main-section__social-networks a:hover i{
    color: #1c44e4;
}

/*Statistics*/

.statistics{
    padding-top: 6.25rem;
    display: flex;
}

.statistics__item{
    background-color: #f8faff;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 3.2rem;
    width: 150px;
}

.statistics__number{
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, blue 0%, rgb(192, 92, 109) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.statistics__title{
    font-size: 1rem;
    color: #797979;
    font-weight: 300;
}

/*About me*/

.about-me{
    padding: 6.25rem 0;
    display: flex;
    align-items: center;
}

.about-me div{
    flex: 1;
}

.about-me__image img{
    width: 70%;
}

.about-me__description{
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}

/*Services section*/

.services{
    padding-top: 6.25rem;
}

.services__cards{
    display: flex;
    justify-content: space-between;
}

.service-card{
    padding: 3.75rem 1.87rem;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
}

.service-card__title{
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.service-card__description{
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #797979;
}

.service-card__link{
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}

.service-card img{
    width: 6.25rem;
}

.service-card:hover{
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__link,
.service-card:hover .service-card__description{
    color: #ffffff;
}

/*Clients section*/

.clients{
    padding-top: 100px;
}

.client-item{
    display: flex;
    align-items: center;
}

.client-item > div{
    flex: 1;
}

.client-item__image img{
    width: 100%;
}

.client-item__info{
    padding-left: 3.12rem;
}

.client-item__name{
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.client-item__position{
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review{
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate{
    color: yellowgreen;
}

.client-item__rate .disabled{
    color:#828f96;
}

/*Portfolio section*/

.portfolio{
    padding: 6.25rem 0;
    height: 1450px;
}

.portfolio-filters{
    list-style: none;
    padding-left: 0;
    margin-top: 3.12rem;
}

.portfolio-filters li{
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active{
    color: #1245e6;
}
.portfolio-items{
    margin-top: 3.25rem;
    position: relative;
}

.portfolio-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}

.portfolio-item-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding-left: 0.625rem;
    padding-bottom: 0.625rem;
}

.portfolio-item-3{
    position: absolute;
    top: 735px;
    left: 0;
    width: 50%;
}
.portfolio-item img{
    width: 98%;
    height: 98%;
}
.portfolio-item__owerlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    transition: all 0.4s ease 0s;
}

.portfolio-item__info a{
    color: white;
    text-decoration: none;
    z-index: 1;
}

.portfolio-item:hover .portfolio-item__owerlay{
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 24px;
}

/*Blog*/

.blog{
    padding-top: 6.25rem;
}

.blog-items{
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
}

.blog-item{
    margin-right: 3%;
    box-sizing: border-box;
    overflow: hidden;
}

.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__info{
    background-color: white;
}

.blog-item__image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.4s ease 0s;
}

.blog-item__image{
    overflow: hidden;
}

.blog-item:hover .blog-item__image img{
    transform: scale(1.1);
}

.blog-item__info{
    background-color: f8faff;
    padding: 0.625rem;
    color: #797979;
}

.blog-item__main-info span{
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: lighter;
}

.blog-item__info i{
    margin-right: 0.31rem;
    padding: 1.81rem;
}

.blog-item__title{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #05364d;
    font-weight: 700;
}

.blog-item__description{
    line-height: 1.69rem;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item__learn-more{
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
}

.blog-item__learn-more:hover{
    color: #ed239f;
    cursor: pointer;
}

/*Partners section*/

.partners{
    padding-top: 6.25rem;
    display: flex;
    justify-content: space-between;
}

.partner{
    padding: 0 1.87rem;
}

.partner img{
    width: 80px;
}

@media only screen and (max-width: 991px){
    .main-section__image{
        display: none;
    }

    .main-section > div{
        width: 100%;
    }

    /*Statics section*/

    .statistics{
        padding-top: 1rem;
        text-align: center;
        justify-content: center;
    }

    /*About me section*/
    .about-me{
        padding: 1.5rem 0;
    }
    .about-me > div{
        width: 100%;
    }
    .about-me__image{
        display: none;
    }

    /*Services section*/
    .services{
        padding: 1.5rem 0;
    }

    .services__cards{
        flex-wrap: wrap;
    }

    .service-card{
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    /*Clients*/

    .clients{
        padding: 1.5rem 0;
    }

    .client-item{
        flex-direction: column;
    }

    .client-item > div{
        width: 100%;
        float: none;
    }

    /*Portfolio*/
    .portfolio{
        padding: 1.5rem 0;
        height: 3500px;
    }
    .portfolio-item{
        width: 100%;
    }
    .portfolio-item-2,
    .portfolio-item-3{
        position: static;
    }

    .portfolio-item-2{
        padding: 0;
    }

    /*Blog*/
    .blog{
        padding: 1.5rem 0;
    }

    .blog-items{
        flex-wrap: wrap;
    }

    .blog-item{
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    /*Partners*/
    .partners{
        padding: 1.5rem 0;
        flex-direction: column;
    }

    .partner{
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 767px){
    /*Main section*/
    .main-banner{
        background: none;
        min-height: auto;
    }
    
    .main-section__image{
        display: none;
    }

    .main-section__action{
        display: none;
    }

    .main-section > div{
        width: 100%;
    }

    .main-section__introduction{
        font-size: 3rem;
    }

    /*Statics section*/

    .statistics{
        flex-direction: column;
    }
    .statistics__item{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    /*Services section*/
    .service-card{
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /*Blog*/
    .blog{
        padding: 1.5rem 0;
    }

    .blog-items{
        flex-direction: column;
    }

    .blog-item{
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /*Partners*/
    .partners{
        padding: 1.5rem 0;
    }

    .partner{
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}